name: Push Docker Container Latest

on:
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Promote beta to latest
        id: promote-beta-to-latest
        run: |
          docker pull soosio/csa:beta
          docker tag soosio/csa:beta soosio/csa:latest
          docker push soosio/csa:latest
      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: soosio/csa
          short-description: SOOS CSA - The affordable no limit container vulnerability scanner.
          readme-filepath: ./README.md